.search-div {
    border: 1px solid white;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60vw;
    height: 3rem;
    border-radius: 5px;
}


.search-input-label {
    display: none;
}

.search-input {
    width: 100%;
    flex-grow: 1;
    outline: none;
    border: none;
    padding: 1rem;
    background: none;
    font-size: 1.2rem;
}

@media (width <= 600px) {
    .search-div {
        width: 70vw;
    }

    .search-input {
        padding: 0 0.5rem;
        font-size: 1rem;
    }
}

@media (width <= 400px) {
    .search-input {
        font-size: 0.8rem;
    }
}