.hero {
    background: linear-gradient(to bottom right,
            rgba(14, 165, 233, 0.15),
            rgba(99, 102, 241, 0.10),
            transparent);
    width: 90vw;
    height: auto;
    border-radius: 10px;
    margin: 7rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px var(--light-border) solid;
}

.hero-big {
    margin: 1rem auto;
    
}

.hero-city {
    padding: 5px;
    border: 1px solid var(--light-border);
    border-radius: 2rem;
    font-weight: 100;
    text-align: center;
}

.hero-mmtemp {
    font-size: 70px;
    font-weight: 1000;
}

.hero-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
    padding: 2rem;
    margin: 1rem auto;
}

