/*Styles for the options of the live search component*/

.search-result {
    background-color: var(--color-dark);
    color: var(--color-light);
    width: 60vw;
    max-width: 500px;
    padding: 5px 0;
    font-size: 1rem;
    border-bottom: 1px solid var(--background-navbar);
}

.search-result:hover {
    background-color: var(--hover-light);
    cursor: pointer;
}

.search-result:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.search-result:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: none;
}

@media (width <= 600px) {
    .search-result {
        width: 70vw;
        font-size: 0.8rem;
    }
}