/*Styles for the options of the live search component*/

.search-result {
    background-color: rgb(225, 225, 225);
    color: black;
    width: 60vw;
    max-width: 500px;
    padding: 5px 0;
    font-size: 1rem;
    border-bottom: 1px solid var(--background);
}

.search-result:hover {
    background-color: rgb(200, 200, 200);
    cursor: pointer;
}

.search-result:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.search-result:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: none;
}

@media (width <= 600px) {
    .search-result {
        width: 70vw;
        font-size: 0.8rem;
    }
}