:root {
    --background-navbar: rgba(0, 0, 0, 1);
    --color-light: #0f0f0f;
    --background-grey: rgba(0, 0, 0, 0.9);
    --color-dark: #f0f0f0;
    --light-border: rgba(240, 240, 240, 0.2);
    --card-background: rgba(15, 15, 15, 0.4);
    --hover-light: rgb(200, 200, 200);
    --hover-dark: rgba(74, 74, 74, 0.8);
}

@font-face {
    font-family: "Nunito";
    src: url('./assets/nunito-font.woff2') format('woff2');
    font-style: normal;
    font-weight: 100 700;
    font-display: swap;
}

body {
    font-family: "Nunito", sans-serif;
    background-color: var(--background-grey);
    color: var(--color-dark);
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.page {
    margin-top: 4rem;
    height: auto;
    box-sizing: border-box;
}